body {
  background: linear-gradient(120deg, #4dcdea 0%, #3c8fe3 100%) no-repeat fixed;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

a {
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 45px;
  margin-bottom: 0;
  line-height: 40px;
}

h2 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-top: 0;
  margin-left: 2px;
  text-transform: uppercase;
  font-style: italic;
}

#search-input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 12px;
  width: 500px;
  max-width: 80%;
  color: #fff;
}

#search-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#search-button {
  position: relative;
  top: 3px;
  left: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 18px;
  padding: 8px 11px 8px 11px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
  color: #fff;
  font-size: 19px;
}

.search-container {
  display: block;
  margin: 100px 35px 20px 35px;
  text-align: center;
}

.weather-container {
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 30px;
  width: 600px;
  max-width: 80%;
  box-shadow: 5px 5px 30px rgba(58, 58, 58, 0.1);
}

.weather-heading {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.current-temperature {
  margin-top: 30px;
  font-size: 40px;
  font-weight: 600;
}

.current-temperature-icon {
  font-size: 70px;
}

.weather-description {
  text-align: center;
  font-size: 15px;
}

.weather-description strong {
  color: #fdc29f;
  font-style: italic;
}
.footer-container {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 15px;
  width: 90%;
}

footer {
  font-size: 11px;
  padding: 10px;
  text-align: center;
}
