body {
  background: linear-gradient(120deg, #51b7df 0%, #4a95e0 100%) no-repeat fixed;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

a {
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
  font-style: italic;
}

.search-container {
  display: block;
  margin: 100px 0 20px 0;
  text-align: center;
}

.weather-container {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 26px;
  width: 500px;
  max-width: 80%;
}

.weather-heading {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 15px;
  width: 85%;
}

.weather-description {
  text-align: center;
  padding-bottom: 15px;
  font-size: 15px;
}

.weather-description strong {
  color: #ffd09d;
  font-style: italic;
}
.footer-container {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  padding: 0;
  border: none;
  border-radius: 15px;
  width: 90%;
}

footer {
  font-size: 12px;
  line-height: 10px;
  padding: 15px;
  text-align: center;
}
