body {
  background: linear-gradient(120deg, #3cc4e3 0%, #2d86df 100%) no-repeat fixed;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

a {
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 34px;
  margin-bottom: 0;
  line-height: 45px;
  max-width: 200px;
}

h2 {
  opacity: 0.8;
  font-size: 12px;
  font-weight: 400;
  margin-top: 0;
  margin-left: 2px;
  max-width: 150px;
  text-transform: uppercase;
}

#search-input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 12px;
  width: 485px;
  max-width: 80%;
  color: #fff;
}

#search-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#search-button {
  position: relative;
  top: 3px;
  left: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 18px;
  padding: 8px 11px 8px 11px;
}

#search-input:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

#search-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
  color: #fff;
  font-size: 19px;
}

.search-container {
  display: block;
  margin: 100px 35px 20px 35px;
  text-align: center;
}

.weather-container {
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  border-radius: 30px;
  width: 500px;
  max-width: 80%;
  box-shadow: 5px 5px 30px rgba(58, 58, 58, 0.1);
}

.weather-heading {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.current-temperature {
  margin-top: 30px;
  font-size: 36px;
  font-weight: 600;
}

.current-temperature-icon {
  font-size: 70px;
  margin-top: 5px;
}

.weather-description {
  text-align: center;
  font-size: 15px;
}

.weather-description strong {
  color: #fdcd80;
  font-style: italic;
}
.footer-container {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 12px;
  width: 85%;
}

footer {
  font-size: 11px;
  padding: 10px;
  text-align: center;
}
