body {
  background: linear-gradient(120deg, #51b7df 0%, #4a95e0 100%) no-repeat fixed;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

a {
  color: #ffffff;
  font-weight: 300;
  text-decoration: none;
  font-style: italic;
}

h1 {
  font-size: 40px;
  margin-bottom: 0;
  line-height: 40px;
}

h2 {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-top: 0;
  margin-left: 2px;
  text-transform: uppercase;
}

#search-input {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  max-width: 80%;
  color: #fff;
}

#search-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#search-button {
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
  color: #fff;
  font-size: 19px;
}

.search-container {
  display: block;
  margin: 100px 35px 20px 35px;
  text-align: center;
}

.weather-container {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 26px;
  width: 500px;
  max-width: 80%;
}

.weather-heading {
  padding: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.current-temperature {
  font-size: 40px;
  margin-top: 25px;
}

.current-temperature-icon {
  font-size: 70px;
}

.weather-description {
  text-align: center;
  padding-bottom: 15px;
  font-size: 15px;
}

.weather-description strong {
  color: #ffd09d;
  font-style: italic;
}
.footer-container {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  padding: 0;
  border: none;
  border-radius: 15px;
  width: 80%;
}

footer {
  font-size: 10px;
  line-height: 10px;
  letter-spacing: 0.5px;
  padding: 15px;
  text-align: center;
}
